${license}

package ${package_prefix}.advent.advent${advent_year}.day${day}

import ${package_prefix}.advent.util.getInputLines
import kotlin.test.assertEquals
import kotlin.test.Test

private const val TEST_DATA = """

"""

class Advent${advent_year}Day${day}Test {
    @Test
    fun test${advent_year}Day${day}() {
        val lines = TEST_DATA.getInputLines().map { it.toThing() }

        assertEquals(null, getPart1Answer(lines))
        assertEquals(null, getPart2Answer(lines))
    }
}